body {
    font-family: sans-serif;
    background-color: #401F58;
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    color: white
}


#radio-selection {
    display: flex;
    justify-content: space-around;
}